a {
    transition: .25s;
}

ol, ul {
    padding-left: 0;
}

section {
    position: relative;
}

abbr[data-bs-original-title], abbr[title] {
    text-decoration: none;
    cursor: text;
}

p:last-child {
    margin-bottom: 0;
}